@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

:root {
  --main: #0047FF;
  --main-light: #3870FF;
  --dark: #303030;
  --copy: #999999;
  --grey: #F4F4F4;
}

html {
  height: 100%;
}

body {
  height: 100%;
  background-color: var(--grey);
  border: solid 1px red;
}

* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#form {
  width: 360px;
  padding: 1rem;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 4px 2px rgba(0, 0, 0, 0.2);
}

#form .row {
  margin-bottom: 1rem;
}

#form label {
  display: block;
  margin-bottom: .25rem;
}

#form label + input,
#form label + textarea,
#form label + select {
  width: 100%;
  font-size: 1rem;
  padding: .5rem;
}

#form textarea {
  resize: none;
}

#form button {
  font-size: 1rem;
  padding: .5rem 1.5rem;
}