

body {
  margin: 0;
  margin: 2rem;
  background-color: beige;
}

* {
  font-family: sans-serif;
  box-sizing: border-box;
}

#form {
  width: 360px;
  padding: 1rem;
  background-color: white;
  border-radius: 4px;
  box-shadow: 0 4px 2px rgba(0, 0, 0, 0.2);
}

#form .row {
  margin-bottom: 1rem;
}

#form label {
  display: block;
  margin-bottom: .25rem;
}

#form label + input,
#form label + textarea,
#form label + select {
  width: 100%;
  font-size: 1rem;
  padding: .5rem;
}

#form textarea {
  resize: none;
}

#form button {
  font-size: 1rem;
  padding: .5rem 1.5rem;
}