@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

:root {
  --main: #0047FF;
  --main-light: #3870FF;
  --dark-grey: #303030;
  --grey: #999999;
  --light-grey: #F4F4F4;
}

html {
  height: 100%;
}

body {
  height: 100%;
  width: 100vw;
  overflow-x: hidden;
  background-color: var(--light-grey);

  display: grid;
  grid-template-columns: auto 1fr;
}

* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  color: inherit;
  background-color: inherit;
}

/* Task styling */

.task {
  width: min(510px, 100%);
  padding: 16px;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 5px;
}

.task-top {
  display: flex;
  align-items: center;
  gap: 12px;
}

.task-checkbox {
  appearance: none;
  width: 24px;
  height: 24px;
  background-color: white;
  border: solid 2px var(--grey);
  border-radius: 5px;
  display: grid;
  place-content: center;
  cursor: pointer;
  transition: all 0.5s;
}
.task-checkbox:checked {
  background-color: var(--main);
  border-color: var(--main);
}
.task-checkbox::after {
  content: url('./assets/check-icon.svg');
  position: relative;
  top: 1px;
  opacity: 0;
  transform: rotate(-30deg);
  transition: all 0.2s;
}
.task-checkbox:checked::after {
  opacity: 1;
  transform: rotate(0deg);
}

.task-title-wrapper {
  flex: 1;
  overflow: hidden;
  cursor: pointer;
}

.task-title {
  width: min-content;
  max-width: 100%;
  padding-right: 30px;
  position: relative;
  font-size: 20px;
  color: var(--dark-grey);
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  transition: color 0.2s;
}

.task-checkbox:checked + .task-title-wrapper > .task-title {
  color: var(--grey);
}

.task-title::before {
  content: '';
  display: block;
  position: absolute;
  height: 1.5px;
  width: 0%;
  top: 50%;
  right: 30px;
  background-color: var(--grey);
  transition: all 0.5s;
}

.task-checkbox:checked + .task-title-wrapper > .task-title::before {
  width: calc(100% - 30px);
  left: 0;
}

.task-btn {
  width: 26px;
  height: 26px;
  background-color: var(--light-grey);
  border-radius: 5px;;
  cursor: pointer;
  opacity: 0.75;
  transition: opacity 0.2s;
}

.task-btn:hover {
  opacity: 1;
}

.task-extend {
  max-height: 0;
  padding-left: calc(24px + 12px);
  overflow: hidden;
  font-size: 15px;
  color: var(--grey);
  transition: all 0.5s;
}

.task-priority {
  font-weight: 600;
  text-transform: uppercase;
  padding: 15px 0 10px;
}

.task .task-title::after {
  content: url('./assets/expand.svg');
  background-color: white;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  transition: all 0.3s;
}

.task.extended .task-title::after {
  transform: rotate(-180deg);
}

/* Sidebar styling */

.sidebar {
  height: 100%;
  overflow-y: auto;
  width: 320px;
  padding: 60px 30px 30px;
  color: white;
  background-color: var(--main);
}

.sidebar-logo {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 80px;
}

.sidebar-logo-text {
  font-size: 25px;
}

#toggle-menu-button {
  display: none;
}

.sidebar-section {
  margin-bottom: 50px;
}

.sidebar-section-heading {
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 16px;
  opacity: 0.8;
}

.sidebar-section ul {
  list-style: none;
}

.sidebar-section .tab {
  font-size: 20px;
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  border-radius: 5px;
  opacity: 0.8;
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  transition: all 0.2s;
}

.sidebar-section .tab.active,
.sidebar-section .tab:hover {
  background-color: var(--main-light);
  opacity: 1;
}

.sidebar-section .tab-text {
  flex: 1;
}

.sidebar-section .tab .tab-btn {
  width: 28px;
  height: 28px;
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  opacity: 0;
  transition: all 0.3s;
}

.sidebar-section .tab:hover .tab-btn {
  opacity: 0.8;
}

.sidebar-section .tab .tab-btn:hover {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.2);
}

.sidebar-section .tab .tab-btn img {
  filter: brightness(200%);
}

/* Modals styling */

.hidden {
  display: none !important;
}

#modal-wrapper {
  position: absolute;
  z-index: 100;
  width: 100%;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.2);

  display: grid;
  place-content: center;
}

.modal {
  width: max(480px, 100%);
  background-color: white;
  padding: 30px;
  border-radius: 5px;
}

.modal label {
  font-size: 15px;
  color: var(--dark-grey);
  display: block;
  margin-bottom: 6px;
}

.modal label .opt {
  color: var(--grey);
}

.modal input,
.modal textarea,
.modal select {
  font-size: 20px;
  padding: 12px;
  width: 100%;
  color: var(--dark-grey);
  background-color: white;
  border: solid 2px var(--light-grey);
  border-radius: 5px;
}

.modal input:focus,
.modal textarea:focus,
.modal select:focus {
  outline-color: var(--dark-grey);
}

.modal textarea {
  resize: none;
}

.modal .row + .row {
  margin-top: 20px;
}

.modal .row:last-of-type {
  margin-top: 30px;
  display: flex;
  justify-content: end;
  gap: 12px;
}

/* Buttons styling */

.btn-main {
  font-size: 15px;
  color: white;
  background-color: var(--main);
  font-weight: 700;
  padding: 12px 24px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s;
}
.btn-main:hover {
  background-color: var(--main-light);
}

.btn-secondary {
  font-size: 15px;
  color: var(--dark-grey);
  background-color: var(--light-grey);
  padding: 12px 24px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s;
}
.btn-secondary:hover {
  opacity: 0.8;
}

/* Style main section */

.main {
  padding: 80px 60px 0;
  overflow-x: hidden;
}

.top-bar {
  min-height: 80px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-bar .page-heading {
  font-size: 30px;
  color: var(--dark-grey);
}

.day-heading {
  font-size: 20px;
  font-weight: 400;
  color: var(--dark-grey);
  margin-bottom: 20px;
}

.task + .day-heading {
  margin-top: 50px;
}

@media screen and (max-width: 800px) {
  body {
    display: block;
  }

  .top-bar .page-heading {
    font-size: 24px;
  }
  .sidebar-logo-text {
    font-size: 20px;
  }
  .day-heading,
  .task-title,
  .sidebar-section .tab,
  .modal input,
  .modal textarea,
  .modal select {
  font-size: 16px;
  }
  .sidebar-section-heading,
  .task-extend,
  .modal label {
    font-size: 12px;
  }

  #home-tabs .tab img {
    width: 20px;
    height: 20px;
  }

  .sidebar {
    height: auto;
    overflow-y: auto;
    width: 100%;
    padding: 0;
  }

  .mobile-top-bar {
    height: 70px;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 100;
    width: 100%;
    background-color: var(--main);
  }
  
  .sidebar-logo {
    gap: 12px;
    margin-bottom: 0;
  }

  .sidebar-logo img {
    width: 32px;
    height: 32px;
  }
  
  .sidebar-section {
    margin-bottom: 30px;
  }
  
  .sidebar-section-heading {
    margin-bottom: 12px;
  }

  .main {
    padding: calc(70px + 16px) 16px 0;
  }

  .modal {
    width: 100%;
  }

  .task {
    padding: 12px;
  }

  #toggle-menu-button {
    display: block;
    width: 32px;
    height: 32px;
    background-image: url('./assets/menu.svg');
    cursor: pointer;
  }

  .sidebar.open #toggle-menu-button {
    background-image: url('./assets/close.svg');
  }

  .mobile-menu {
    display: block;
    position: fixed;
    overflow-y: auto;
    z-index: 20;
    left: -100%;
    width: 83vw;
    top: 70px;
    bottom: 0;
    padding: 32px 16px;
    background-color: var(--main);
    transition: all 0.4s;
  }

  .sidebar.open .mobile-menu {
    left: 0;
  }

  .top-bar {
    margin-bottom: 20px;
  }

  .day-heading {
    margin-bottom: 16px;
  }
  
  .task + .day-heading {
    margin-top: 32px;
  }
}

@media (hover: none) {
  .sidebar-section .tab .tab-btn {
    opacity: 1;
  }
}